.Proyects {
    padding: 300px 50px;
    position: relative;
    z-index: 100;
    border: solid 1px red;

}

.title {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 500;
    font-size: 40px;
    border: solid 1px saddlebrown;
    text-align: left;
}