.Proyects {
    padding: 300px 50px;
    position: relative;
    z-index: 100;
    border: solid 1px red;
    text-align: left;
    background-color: rgb(206,232,231);

}

.title {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 500;
    font-size: 40px;
    border: solid 1px saddlebrown;
    text-align: left;
    margin-bottom: 0;
}

.Bar {
    position: relative;
    top: -15px;
    display: inline-block;
    height: 8px;
    width: 0;
    background-color: salmon;
}