@import '../../assets/stylesheets/mixins.scss';

.presentation-title {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: left;
  position: relative;
  z-index: 10;
  max-width: 650px;
  margin: auto;
  margin-bottom: 10px;
  color: rgb(44, 44, 44);

  @include tablet {
    margin-bottom: 30px;
    font-size: 70px;
  }
}

.letter.in {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
