
.PresentationTitle {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 500;
    font-size: 70px;
    text-align: left;
    border: solid 1px blue;
    position: relative;
    z-index: 5;
    /* display: inline-block; */
    max-width: 650px;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(44, 44, 44);
}
