@import '../../../assets/stylesheets/mixins';

.Hobbies {
  box-sizing: border-box;
  color: rgb(136, 107, 94);
  flex-basis: 48%;
  order: 2;
  flex-grow: 1;
  padding: 0;
  margin-top: -40px;

  @include tablet {
    padding: 0 30px 50px;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
  }
}
