.About {
  color: white;
  /* background-color: rgb(111,70,228); */
  padding: 10px 20px;
  position: relative;
  /* height: 900px; */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.AboutBox {
  flex-basis: 300px;
  order: 3;
}

.title {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: rgb(32, 112, 104);
  text-align: right;
  margin-bottom: 0;
  margin-right: 20px;
  padding-top: 20px;
  flex-basis: 100%;
  order: 1;
}
.Menu {
  flex-basis: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  order: 4;
}

.Menu button {
  border: none;
  padding: 3px 5px;
  background-color: #fff;
  border-radius: 4px;
  color: #ff8443;
  transition: all 0.5s ease;
}

.Menu button:hover {
  cursor: pointer;
  background-color: rgb(111, 70, 228);
  color: white;
}

.BallBottom {
  position: absolute;
  z-index: -1;
  right: -240px;
  top: 20px;
  transform: rotate(-22deg);
  animation-name: spin, fadeIn;
  animation-duration: 30000ms, 0.5s;
  animation-iteration-count: infinite, 1;
  animation-timing-function: linear, ease;
  animation-fill-mode: none, forwards;
  width: 46.5rem;
  height: 29rem;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../../assets/images/ballbottom.svg);
  transition: all ease 1s;
}

.Content {
  font-size: 13px;
  text-align: right;
  margin-left: auto;
  width: 300px;
  line-height: 1.5;
  word-spacing: 2px;
  color: rgb(54, 138, 129);
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  text-align: right;
  float: right;

  ~ figcaption {
    font-family: 'Indie Flower', cursive;
    padding: 20px 0;
    font-size: 14px;
    transition: color 0.5s ease;
    color: rgb(85, 114, 92);
  }

  &:hover ~ figcaption {
    color: rgb(176, 81, 214);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
