@import '../../assets/stylesheets/mixins';
.line {
  //   position: absolute;
  display: block;
  //   top: 80px;
  z-index: -1;
  //   width: 60%;
  //   margin-left: 100px;
  //   height: 100px;
  width: 100%;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 255px 15px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border-top: dotted 2px #5857544f;
}

.About {
  color: white;
  /* background-color: rgb(111,70,228); */
  padding: 10px 20px;
  position: relative;
  /* height: 900px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.AboutBox {
  flex-basis: 300px;
  order: 1;

  @include tablet {
    order: 3;
  }
}

.title {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: rgb(32, 112, 104);
  text-align: right;
  margin-bottom: 0;
  margin-right: 20px;
  padding-top: 20px;
  flex-basis: 100%;
  order: 1;
}
.Menu {
  flex-basis: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  order: 4;
  margin-top: 50px;
}

.Menu button {
  border: none;
  padding: 3px 5px;
  background-color: #fff;
  border-radius: 4px;
  color: #ff8443;
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    background-color: rgb(111, 70, 228);
    color: white;
  }

  &:focus {
    outline: none;
    color: white;
    background-color: rgba(148, 129, 115, 0.205);
  }
}

.BallBottom {
  position: absolute;
  z-index: -1;
  right: -240px;
  top: 30px;
  transform: rotate(-22deg);
  animation-name: spin, fadeIn;
  animation-duration: 30000ms, 0.5s;
  animation-iteration-count: infinite, 1;
  animation-timing-function: linear, ease;
  animation-fill-mode: none, forwards;
  width: 46.5rem;
  height: 27rem;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../../assets/images/ball-about.svg);
  transition: all ease 1s;
}

.Content {
  font-size: 13px;
  text-align: right;
  margin-left: auto;
  width: 300px;
  line-height: 1.5;
  word-spacing: 2px;
  color: rgb(54, 138, 129);
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  text-align: right;
  float: right;

  ~ figcaption {
    font-family: 'Indie Flower', cursive;
    padding: 20px 0;
    font-size: 14px;
    transition: color 0.5s ease;
    color: rgb(85, 114, 92);
  }

  &:hover ~ figcaption {
    color: rgb(176, 81, 214);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.motto {
  flex-grow: 1;
  order: 2;
  color: rgba(128, 128, 128, 0.404);
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  font-family: 'Baloo Tamma 2', cursive;
  margin-top: 70px;
  @include tablet {
    font-size: 22px;
    margin-top: 0;
  }
  p {
    transition: color 0.8s ease;
  }
  p:hover {
    color: rgb(128, 128, 128);
  }
}
