.HobbyCard {
  margin: auto;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  background: transparent;
  strong {
    color: turquoise;
  }
  color: rgba(0, 0, 0, 0.3);
}

.origami {
  .HobbyImage {
    background-image: url('../../../../assets/images/hobbies/origami.jpg');
  }
  .Back::before {
    background-image: url('../../../../assets/images/hobbies/card-icon-origami.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}

.hiking {
  .HobbyImage {
    background-image: url('../../../../assets/images/hobbies/hiking.jpeg');
  }
  .HobbySkillsMeasure > i {
    color: #fad961;
  }

  .Front {
    background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
  }
  .Back {
    background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
  }

  .Back::before {
    background-image: url('../../../../assets/images/hobbies/card-icon-mountain.svg');
  }
}

.languages {
  .HobbyImage {
    background-image: url('../../../../assets/images/hobbies/languages7');
    background-position: -90px -80px;
    background-size: 150%;
  }
  .HobbySkillsMeasure > i {
    color: #17ead9;
  }

  .Front {
    background: linear-gradient(135deg, #17ead9 0%, #6078ea 100%);
  }
  .Back {
    background: linear-gradient(135deg, #17ead9 0%, #6078ea 100%);
  }
  .Back::before {
    background-image: url('../../../../assets/images/hobbies/card-icon-languages.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}

.sudoku {
  .HobbyImage {
    background-image: url('../../../../assets/images/hobbies/sudoku');
  }
  .Front {
    background: linear-gradient(135deg, #f36265 0%, #961276 100%);
  }
  .Back {
    background: linear-gradient(135deg, #f36265 0%, #961276 100%);
  }
  .HobbySkillsMeasure > i {
    color: #f36265;
  }
  .Back::before {
    background-image: url('../../../../assets/images/hobbies/card-icon-sudoku.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}

.artist {
  .HobbyImage {
    background-image: url('../../../../assets/images/hobbies/movies.png');
    background-position: center;
  }
  .Front {
    background: linear-gradient(135deg, #dfec51 0%, #73aa0a 100%);
  }
  .Back {
    background: linear-gradient(135deg, #dfec51 0%, #73aa0a 100%);
  }
  .HobbySkillsMeasure > i {
    color: #dfec51;
  }
  .Back::before {
    background-image: url('../../../../assets/images/hobbies/card-icon-cinema.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}
.HobbyImage {
  display: inline-block;
  height: 100%;
  width: 230px;
  margin: auto;
  background-size: cover;
  position: relative;
  flex-grow: 1;
  border-radius: 10px;
}
.HobbyDescription {
  font-size: 15px;
  padding: 0 10px;
}
.HobbySkills {
  list-style: none;
  text-align: left;
  font-size: 15px;
  margin: 0;
  padding: 10px 30px;
  color: white;
}

.HobbySkillsMeasure {
  font-size: 12px;
  padding-left: 5px;

  i {
    padding: 0 2px;
    color: #ce9ffc;
  }
}

/******/

/* flip the pane when clicked */
.HobbyCard:hover .Flipper,
.HobbyCard.hover .Flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.HobbyCard,
.Front,
.Back {
  height: 350px;
  width: 250px;
  border-radius: 10px;
}

/* flip speed goes here */
.Flipper {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.Front,
.Back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: rotateX(0deg);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 5px 5px #ccc;
}

/* front pane, placed above back */
.Front {
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #ce9ffc 0%, #7367f0 100%);
}

/* back, initially hidden pane */
.Back {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: linear-gradient(135deg, #ce9ffc 0%, #7367f0 100%);
  strong {
    color: white;
  }

  h3 {
    font-size: 20px;
  }
}

.Back::before {
  content: '';
  width: 120px;
  height: 120px;
  background-image: url('../../../../assets/images/hobbies/card-icon2.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
  z-index: -1;
}
